#pricediv   {
position: absolute; left:30em; top: 1em; width:21em; height:3.3em;  border:1px solid #2299ff;
}
#vendordiv  {
position: absolute; left:0.5em; top: 59em; width:22em; height:12em; border:1px solid #2299ff;
}
#messagediv {
position: absolute; left: 59em; top: 1em;  width:30em; height:55em; border:1px solid #2299ff; font-size: 0.9em; overflow:scroll
}
#mousepos   {
position: absolute; left: 17em; top: 2em ; width:5em ; height:1.5em;
}
#zoomval   {
position: absolute; left: 25em; top: 2em ; width:5em ; height:1.5em;
}
#bidderinfo {
   position: absolute;   
   left: 25em; 
   top: 2em ; 
   width:auto ; 
   border: 1px solid black; 
   background-color: #EEC;
   border-radius: 10px;
   display:none;
   z-index:99;
   padding: 0.5em;
}
#bidderinfo span {display: inline-block; padding-left: .5em;}
.bpl {width: 3em;}

#contidlabel     {font-weight:bold
}
#vendornamelabel {font-size: 1.1em; font-weight:bold;
}
#bidquantitylabel{}
#bidpricelabel   {}


#canvas0    {
position: absolute; left: 1em; top: 5em;
}
#canvas1    {
position: absolute; left: 1em; top: 5em; background-color:transparent;
}



#rankfilter {
  position: absolute; 
  top: 46em;
}

#agefilter {
  position: absolute; 
  top: 48em;
}


.filterlabel {
  display: inline-block; 
  position: relative;
  padding-left: .5em;
  width: 5em;
  top: -0.5em;
}

.filterinfo {
  display: inline-block; 
  position: relative;
  padding-left: .5em;
  width: auto;
  top: -0.5em;
}


#countsdiv {
   position: absolute;
   top: 43em;
   left: 40em;
   width:auto;
}

#examples {
   position: relative;
   top: 50em;
}